:root {
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray---900: #1a1a1a;
    --gray-scale-gray---800: #333;
    --gray-scale-gray---700: #4d4d4d;
    --gray-scale-gray---600: #666;
    --gray-scale-gray---500: #808080;
    --gray-scale-gray---400: #999;
    --gray-scale-gray---300: #b3b3b3;
    --gray-scale-gray---200: #ccc;
    --gray-scale-gray---100: #e6e6e6;
    --gray-scale-gray---50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}


body {
    font-family: var(--font-family);
}

/***** HEADING *****/
#heading {
    background: var(--gray-scale-gray---800);
    color: var(--gray-scale-gray---300);
    padding: 10px;
    align-items: center;
}

#heading .location {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    color: var(--gray-scale-gray---300);
}

#heading .location_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray---300);
    padding-left: 8px;
}

#heading .heading_right {
    display: flex;
    justify-content: right;
}

#heading .heading_right select {
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: var(--gray-scale-gray---300);
}

#heading .heading_right_secondary a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray---300);
    text-decoration: none;
}

#heading .heading_right .slash {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray---300);
}

#heading .heading_right .divider {
    margin: 7px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 0px;
    height: 15px;
}

#heading .heading_right .divider:hover {
    transform: rotate(360deg);
    cursor: pointer;
    transition: 0.5s;
}

/***** HEADING END *****/



/***** HEADING TWO START *****/
#secondary_heading .search_bar {
    display: flex;
    position: relative;
}

#secondary_heading .search_bar input {
    width: 80%;
    padding: 12px;
    padding-left: 44px;
    border: 1px solid #808080;
    border-radius: 6px 0 0 6px;
}

#secondary_heading .search_bar input:focus {
    outline: none;
}

#secondary_heading .search_icon {
    position: absolute;
    top: 14px;
    left: 16px;
}

#secondary_heading .search_btn {
    background-color: var(--branding-success);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-scale-white);
    border-radius: 0 6px 6px 0;
    border: none;
    padding: 14px 24px;
}

#secondary_heading .cart_parent {
    display: flex;
    align-items: center;
    margin-left: 13px;
    justify-content: end;
}

#secondary_heading .shopping_bag {
    display: flex;
    /* padding-left: 12px; */
    margin-left: 12px;
    position: relative;
}

#secondary_heading .shopping_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: var(--gray-scale-gray---700);
}

#secondary_heading .price {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray-scale-gray---900);
}

#secondary_heading .count {
    background: var(--branding-success-dark);
    border: 1px solid var(--gray-scale-white);
    border-radius: 16px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--gray-scale-white);
    position: absolute;
    left: 15px;
    top: -3px;
}

#secondary_heading .shop {
    margin-left: 12px;
    /* padding-left: 12px; */
}

#secondary_heading .second_divider {
    border: 1px solid var(--gray-scale-gray---200);
    width: 0px;
    height: 30px;
    margin: 4px 16px 11px 16px;
}

#secondary_heading .second_divider:hover {
    transform: rotate(360deg);
    cursor: pointer;
    transition: 0.5s;
}

/***** HEADING TWO END *****/



/***** NAVIGATION START *****/
#nav {
    background: var(--gray-scale-gray---50);
}

#nav .category_bar {
    display: inline-flex;
    line-height: 0;
    align-items: center;
    border-radius: 0;
    background: var(--branding-success);
    border: none;
}

#nav .nav-item {
    display: inline-flex;
    align-items: center;
}

#nav .category_bar.dropdown-toggle::after {
    display: none;
}

#nav .main_text {
    margin: 0 8px;
    padding: 17.5px 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#nav .dropdown-menu.show {
    border-radius: 0;
    width: 100%;
    border: none;
    background: var(--gray-scale-gray---50);
}

#nav .dropdown-menu.show li a {
    color: var(--gray-scale-gray---700);
}

#nav .dropdown-menu.show li a:hover {
    color: var(--branding-success);

}

#nav .dropdown-menu.show .dropdown-item {
    padding: 8px 13px;
    padding-top: 15px;
}

#nav .dropdown-link {
    background-color: transparent;
    color: var(--gray-scale-gray---600);
    border: none;
    display: inline-flex;
    line-height: 0;
    align-items: center;
}

#nav .dropdown-link:hover {
    color: var(--branding-success);
}

#nav .dropdown-link.dropdown-toggle::after {
    display: none;
}

#nav .phone {
    display: flex;
    align-items: center;
    line-height: 0;
}

#nav .phone a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray---900);
    margin-left: 3.5px;
}

#nav .mobile-menu-bar {
    background-color: transparent;
    margin: 0;
    padding: 5px;
    border: 1px solid #000;
    display: inline-flex;
    align-items: center;
    line-height: 0;
    border-radius: 0;
    color: #000;
}

/***** NAVIGATION END *****/



/***** OFFCANVAS START *****/
.offcanvas {
    width: 80%;
    max-width: 330px;
}

/* .offcanvas-start .offcanvas-body{
    position: relative;
} */
.mobile_sign_parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0 10px; */
}

.mobile_sign_in {
    background-color: var(--branding-success);
    width: 48%;
    margin-top: 70%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--gray-scale-white);
    border-radius: 10px;
    cursor: pointer;
}

.mobile_sign_in:hover {
    outline: 1px solid var(--branding-success);
    background: transparent;
    color: var(--branding-success);
}

.mobile_sign_in:last-child {
    padding: 9px;
    outline: 1px solid var(--branding-success);
    background: transparent;
    color: var(--branding-success);
}

.mobile_sign_in:last-child:hover {
    background-color: var(--branding-success);
    color: var(--gray-scale-white);
}

/***** OFFCANVAS END *****/



/***** SHOPERY START *****/
#shopery {
    padding: 50px 0;
}

#shopery .content {
    padding-top: 50px;
}

#shopery .content .main {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--branding-success);
}

#shopery .content h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}

#shopery .content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-500);
}

#shopery .content a {
    text-decoration: none;
    background: var(--branding-success);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-scale-white);
    padding: 16px 40px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

#shopery .content a span {
    margin-left: 16px;
}


#shopery .content a:hover {
    background: transparent;
    border: 1px solid var(--branding-success);
    color: var(--branding-success);
    transition: 0.5s ease-in-out;
}

#shopery .image {
    position: relative;
}

#shopery .shape {
    position: absolute;
    right: 20px;
    top: 64px;
    width: 70px;
    height: 70px;
    background-color: var(--branding-warning);
    border-radius: 100%;
}

#shopery .shape h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
}

#shopery .shape span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-scale-white);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.slick-dots button {
    background-color: var(--gren-gray-scale-200);
    color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: none;
    margin: 0 4px;
}

.slick-dots .slick-active button {
    border-radius: 50px;
    width: 18px;
    height: 12px;
    background: var(--branding-success);
}

.slick-dots {
    margin-top: 30px;
}

#shopery .right {
    position: absolute;
    right: -40px;
    top: 42%;
    transform: translateY(42%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--gray-scale-gray---700);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--gray-scale-gray---100);
}

#shopery .left {
    position: absolute;
    left: -40px;
    top: 42%;
    transform: translateY(42%);
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--gray-scale-gray---700);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--gray-scale-gray---100);
}

/***** SHOPERY END *****/



/***** CART START *****/
#cart {
    margin: 50px 0;
}

#cart .shipping {
    padding: 40px;
    border: 1px solid var(--gray-scale-gray---100);
}

#cart .shipping:first-child {
    border-radius: 8px 0 0 8px;
}

#cart .shipping:last-child {
    border-radius: 0 8px 8px 0;
}

#cart .shipping .icon span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-scale-white);
    border: 1px solid var(--gray-scale-gray---100);
    border-radius: 50px;
}

#cart .shipping h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray---900);
    padding-top: 16px;
}

#cart .shipping p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray---400);
    margin: 0;
}

#cart .shipping:hover {
    transform: translateY(-2px);
    transition: 0.5s ease-in-out;
    background-color: var(--branding-success);
    color: var(--gray-scale-white);
}

#cart .shipping:hover h4,
#cart .shipping:hover p {
    color: var(--gray-scale-white);
}

/***** CART END *****/



/***** PRODUCT START *****/
#product {
    margin: 100px 0;
    /* height: 100vh; */
}

#product .heading h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-scale-gray---900);
}

#product .btn_wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 0 50px 0;
}

#product .btn_wrapper button {
    border: none;
    margin: 0 10px;
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray---500);
    background-color: transparent;
    padding: 7px;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

#product .btn_wrapper button::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: var(--gren-gray-scale-200);
    right: -10px;
}

#product .btn_wrapper button:last-child::after {
    display: none;
}

#product .btn_wrapper button:hover {
    color: var(--branding-success);
    background: var(--gren-gray-scale-50);
    border-bottom: 2px solid var(--branding-success);
}

#product .filter {
    padding: 20px;
    border: 1px solid var(--gren-gray-scale-100);
    position: relative;
}

#product .filter:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}

#product .ratting {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

#product .ratting li {
    color: var(--branding-warning);
    padding-right: 2px;
}

#product .ratting li:last-child {
    color: var(--gray-scale-gray---200);
}

#product .card_detailts {
    display: flex;
}

#product .card_detailts .first_content {
    width: 70%;
}

#product .card_detailts h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gren-gray-scale-700);
    margin-bottom: 0;
}

#product .card_detailts b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gren-gray-scale-900);
}

#product .card_detailts del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gren-gray-scale-400);
}

#product .card_bag {
    width: 45px;
    height: 45px;
    padding: 11px 13px 13px 13px;
    border-radius: 50%;
    background: var(--gren-gray-scale-100);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: var(--gren-gray-scale-900);
    margin-top: 10px;
}

#product .filter:hover .card_bag {
    background: var(--branding-success);
    color: var(--gray-scale-white);
}

#product .icons {
    position: absolute;
    right: 10px;
    top: 5px;
    transition: 0.5s;
}

#product .icons ul button {
    transform: translateX(-50px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}

#product .filter:hover .icons ul button {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

#product .filter:hover .icons ul li:nth-child(2) button {
    transition-delay: 0.2s;
}

#product .icons ul {
    list-style-type: none;
}

#product .icons button {
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--gray-scale-gray---50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-scale-gray---900);
    margin-bottom: 5px;
}

#product .offer {
    border-radius: 4px;
    padding: 3px 8px;
    width: 80px;
    height: 27px;
    background: var(--branding-error);
    position: absolute;
    top: 10px;
    left: 0px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

#product .filter:hover .offer {
    transform: translateX(10px);
    visibility: visible;
    opacity: 1;
}

#product .offer h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#product .card_contains {
    padding: 0;
}

/***** PRODUCT END *****/



/***** DEAL START *****/
#deal {
    padding: 0 0 50px 0;

}

#deal .container {
    background: var(--gren-gray-scale-50);
    padding: 20px 0;
    /* background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

#deal .content {
    margin-left: 60px;
    margin-top: 10px;
}

#deal .link {
    margin-left: 60px;
}

/* #deal .content_1{
    padding-left: 340px;
}  */

#deal .content_1 .time-box .num {
    text-align: center;
}

#deal .container .content h6 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--branding-success);
}

#deal .container .content h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
}

#deal .container .content a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
    text-decoration: none;
    padding: 10px 20px 14px 25px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin-top: 16px;
}

#deal .content a span {
    margin-left: 10px;
}

#deal .content a:hover {
    background: transparent;
    border: 1px solid var(--branding-success);
    color: var(--branding-success);
}

#deal .image_1 img {
    width: 100%;
}

#deal .image_2 img {
    width: 100%;
}

#deal .image_1 {
    margin-top: 60px;
    margin-left: 20px;
}

#deal .colon {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: var(--gren-gray-scale-500);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transform: translateY(12px);
}

.time-box {
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    background: var(--gray-scale-white);
    border-radius: 6px;
    padding: 10px;
    color: var(--branding-success);
}

/***** DEAL END *****/



/*****  FEATURED PRODUCT START *****/
#f_product {
    padding: 50px 0;
}

#f_product .head h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--gren-gray-scale-900);
    padding-bottom: 30px;
}

#f_product .f_content h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--gray-scale-gray---700);
}

#f_product .f_content b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: var(--gray-scale-gray---900);
}

#f_product .f_content del {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-scale-gray---400);
}

#f_product .f_detailts {
    display: flex;
}

#f_product .f_detailts .f_content {
    width: 80%;
}

#f_product .sec_filter {
    padding: 20px;
    border: 1px solid var(--gren-gray-scale-100);
    position: relative;
}

#f_product .sec_filter:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}

#f_product .rate {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

#f_product .rate li {
    color: var(--branding-warning);
    padding-right: 2px;
}

#f_product .rate li:last-child {
    color: var(--gray-scale-gray---200);
}

#f_product .f_bag {
    width: 35px;
    height: 35px;
    padding: 11px 13px 13px 13px;
    border-radius: 50%;
    background: var(--gren-gray-scale-100);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: var(--gren-gray-scale-900);
    margin-top: 20px;
}

#f_product .sec_filter:hover .f_bag {
    background: var(--branding-success);
    color: var(--gray-scale-white);
}

#f_product .f_icons {
    position: absolute;
    right: 10px;
    top: 5px;
    transition: 0.5s;
}

#f_product .f_icons button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--gray-scale-gray---50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-scale-gray---900);
    margin-bottom: 5px;
}

#f_product .f_icons ul {
    list-style-type: none;
}

#f_product .f_icons ul button {
    transform: translateX(-50px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

#f_product .sec_filter:hover .f_icons ul button {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

#f_product .sec_filter:hover .f_icons ul li:nth-child(2) button {
    transition-delay: 0.2s;
}

#f_product .f_offer {
    border-radius: 4px;
    padding: 3px 8px;
    width: 69px;
    height: 25px;
    background: var(--branding-error);
    position: absolute;
    top: 10px;
    left: 0px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

#f_product .sec_filter:hover .f_offer {
    transform: translateX(10px);
    visibility: visible;
    opacity: 1;
}

#f_product .f_offer h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--gray-scale-white);
}

#f_product .m-content {
    padding: 0;
}


/*****  FEATURED PRODUCT END *****/